/* forme */
/* appearance */
/* emplacement */
* {
    font-family: "Montserrat", serif;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body {
    /* forme */
    height: 100vh;

    /* appearance */

    background: linear-gradient(45deg, #3b192a, 300px, #612c46, 65%, #b45956);
    color: white;
}

header {
    /* forme */
    /* appearance */
    color: #fff;
    /* emplacement */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.navbar {
    width: 200px;

    display: flex;
    justify-content: space-between;
}

.navbar-info {
    color: #fff;
}

main {
    background-color: #fff;
    border-radius: 60px 0px 0px 0px;
    padding: 40px;
    margin: 0%;
    min-height: 100%;
}

a,
p {
    color: rgb(255, 255, 255);
}

.container-info {
    display: flex;
    flex-direction: column;
    background-color: #f3eff0;
    border-radius: 30px 10px 10px 10px;
    min-height: 100vh;
}
/* .container-info-all {
    background-color: #f3eff0;
    border-radius: 30px 10px 10px 10px;
    min-height: 100%;
} */

.container-info-teams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-container-info {
    background-color: #ece5e8;
    border-radius: 30px 10px 10px 10px;
    padding: 15px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.w {
    font-size: 1.5em;
    color: #612c46;
}
.title {
    margin-left: 5px;
    font-size: 2em;
    font-weight: bold;
    color: #612c46;
}
.info {
    display: flex;
    flex-direction: column;
}
.sub-hr {
    border: none;
    width: 350px;
    min-height: 3px;
    border-radius: 40px;
    background: linear-gradient(45deg, #612c46, #b45956);
}
.sub-title {
    margin-top: 10px;
    color: #612c46;
    font-weight: 500;
}
.arrow {
    width: 20px;
    margin: 20px;
    transform: rotate(94deg);
}

.sub-container-todo {
    padding: 30px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
}
.to-do-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #612c46;
}
.to-do-date {
    margin-top: 5px;
    font-size: 1em;
    font-weight: bold;
    color: #612c46;
}
.to-do-description {
    margin-top: 10px;
    font-size: 1em;
    font-weight: 500;
    color: #612c46;
    max-width: 600px;
    min-width: 300px;
}
nav {
    display: flex;
    align-items: center;
}

hr {
    border-radius: 10px;
    background-color: #612c46;
    border: none;
    width: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.todo-bt {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.add {
    all: unset;
    font-size: 1.25em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(45deg, #612c46, #b45956);
    padding: 10px;
    border-radius: 10px;
    width: 150px;
}
